@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Niconne&family=Racing+Sans+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: repeating-linear-gradient(#c184dd, #5a51d8);
    /* background:repeating-linear-gradient( (#e76b1e)) ; */
}

header {
    /* border: 2px solid; */
    height: 90px;
    background: linear-gradient(#170533, #4a13a1cc, #4a13a1cc);
    box-shadow: inset 2px -5px 18px 0px #362f99;
    position: relative;
}

.logo {
    height: 90px;
    width: 160px;
    /* border: 2px  solid; */
    /* margin-left: 50px; */
    /* position: fixed; */
}

#logo1 {
    height: 90px;
    width: 220px;
    border-radius: 5%;
    object-fit: fill;
    background-size: contain;
    box-shadow: -1px -1px 2px 2px gray;


}

.container {
    height: 100px;
    width: 660px;
    /* border: 2px solid; */
    margin-right: 150px;
    position: absolute;
    /* position: relative; */
    top: 0px;
    right: 0;
    /* position: fixed; */
}

h1 a {
    position: absolute;
    top: 26px;
    right: 500px;
    cursor: pointer;
    font-weight: 200;
    font-family: "Racing Sans One", sans-serif;
    text-decoration: none;
    color: antiquewhite;
}

h2 a {
    position: absolute;
    top: 29px;
    right: 340px;
    color: antiquewhite;
    font-size: 30px;
    font-weight: 200;
    cursor: pointer;
    text-decoration: none;
    font-family: "Racing Sans One", sans-serif;
}

h6 a {
    position: absolute;
    top: 29px;
    right: 200px;
    color: antiquewhite;
    font-size: 30px;
    font-weight: 200;
    cursor: pointer;
    text-decoration: none;
    font-family: "Racing Sans One", sans-serif;
}

b a {
    position: absolute;
    top: 29px;
    right: 30px;
    color: antiquewhite;
    font-size: 30px;
    font-weight: 200;
    cursor: pointer;
    text-decoration: none;
    font-family: "Racing Sans One", sans-serif;
}

h1:hover {
    text-shadow: 0px 3px 6px white;
    /* text-decoration: underline blueviolet; */
}

h2:hover {
    text-shadow: 0px 3px 6px white;
}

h6:hover {
    text-shadow: 0px 3px 6px white;
}

b:hover {
    text-shadow: 0px 3px 6px white;
}

.content {
    height: 550px;
    width: 211.6vh;
    /* border: 2px solid; */
    overflow: hidden;
    box-shadow: -11px 0px 5px 1px #484949;
}

big {
    position: absolute;
    top: 300px;
    left: 50px;
    font-size: 30px;
    color: rgba(255, 99, 71, 0.671);
    text-decoration: underline wavy rgba(153, 205, 50, 0.555);
    font-family: "Racing Sans One", sans-serif;

}

.content h6 {
    position: absolute;
    top: 350px;
    left: 50px;
    font-size: 35px;
    text-decoration-thickness: 50px;
    color: rgba(236, 85, 58, 0.63);
    text-decoration: underline wavy rgba(153, 205, 50, 0.452);
    font-family: "Niconne", cursive;
}

.content video {
    height: 615px;
    width: 211.6vh;
    object-fit: cover;
    cursor: default;
    box-shadow: 3px 3px 5px 0px #030707;

}

.foot {
    /* border: 2px solid; */
    height: 350px;
    width: 211.6vh;
}

.main-box {
    /* border: 2px solid black; */
    height: 330px;
    width: 280px;
    position: relative;
    float: left;
    margin-top: 30px;
    margin-left: 45px;
    /* margin-right: 0px ; */
    box-shadow: 3px 3px 5px 0px #484949;
    border-radius: 20px;

}

.main-box:hover {
    box-shadow: 3px 3px 5px 0px white;
    cursor: default;
}

.top-box {
    /* border: 2px solid red; */
    height: 200px;
    width: 280px;
    background-image: url(/3-jpg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    padding: 5px auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.bottom-box {
    /* border: 1px solid black; */
    height: 130px;
    width: 280px;
    position: relative;
    bottom: 0;
    padding: 10px;
    background-color: rgba(250, 234, 245, 0.993);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}

img {
    height: 200px;
    width: 280px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-size: contain;
    object-fit: cover;
}

h3 a {
    position: absolute;
    font-size: 20px;
    font-weight: 990px;
    left: 19px;
    color: black;
    font-family: "Racing Sans One", sans-serif;
    text-decoration: none;

}

p {
    position: absolute;
    font-size: 21px;
    top: 27px;
    left: 6px;
    font-weight: 0px;
    margin: 15px;
    font-family: "Niconne", cursive;
}

h4 {
    padding: 7px;
    position: absolute;
    font-size: 15px;
    top: 45px;
    right: 10px;
    color: rgba(214, 13, 13, 0.788);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

button {
    position: absolute;
    bottom: 9px;
    left: 60px;
    padding-left: 25px;
    padding-top: 9px;
    padding-right: 25px;
    padding-bottom: 8px;
    border-radius: 15px;
    font-size: 15px;
    background: linear-gradient(#001226);
    color: beige;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    cursor: pointer;
}

button:hover {
    box-shadow: 1px 2px 7px 0px #080808f5;
}

del {
    position: absolute;
    right: 0;
    top: 53px;
    right: 80px;
    font-size: 15px;
    color: rgb(160, 165, 175);
}