*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contain{
    border: 2px solid red;
    height: 90px;
    width: 360px;
    position: relative;
    margin: 0 auto;
    padding: 10px auto;
}
h2{
    position: absolute;
     font-size: 30px;
    font-weight: 400;
    color: #000000;
    line-height: 1.2;
}
.contain h2 span{
    color: #ce9c6b;
}

.contain .flip{
    /* border: 2px solid; */
    position: absolute;
    display: block;
    width: 100%;
    top: 50px;
}
p{
    /* border: 2px solid red;   */
    margin-top: 10px;
}
.contain p .deg1{
     position: absolute;
    bottom: 2px;
    left: 0px;
    right: 30px;
    width: 6px;
    height: 6px;
    /* content: ''; */
    background: #ce9c6b;
    transform: rotate(135deg);
    margin: 0 auto;
}
.contain p .deg2{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0;
    width: 10px;
    height: 10px;
    /* content: ''; */
    background: #ce9c6b;
    transform: rotate(135deg);
    margin: 0 auto;
}
.contain p .deg3{
    position: absolute;
    bottom: 2px;
    left: 30px;
    right: 0;
    width: 6px;
    height: 6px;
    /* content: ''; */
    background: #ce9c6b;
    transform: rotate(135deg);
    margin: 0 auto;
}
.contain p.flip::before {
    position: absolute;
    bottom: 4px;
    left: 100px;
    right: 0;
    content: '';
    width: 40px;
    height: 1px;
    background: #52361b;
    margin: 0 auto;
}
.contain p.flip:after {
    position: absolute;
    bottom: 4px;
    left: 0px;
    right: 100px;
    content: '';
    width: 40px;
    height: 1px;
    background: #52361b;
    margin: 0 auto;
}

.container{
    border: 2px solid red;
    display: flex;
    /* margin: 45PX; */
    justify-content: center;
    flex-wrap: wrap;
     gap: px;
}
.outbox{
    /* border: 2px solid green; */
    height: 250px;
    width: 250px;
   
}
.black{
    background: #000000;
}

@media screen and (max-width:550px){
   
    .container{
        justify-content: center;
        gap: 5px;
    }
    
}