*{
    margin: 0;
    padding: 0%;
}
.nithi{
    color: aqua                         ;
    text-align: center;

}
.nith{
    color: blue;
    text-align: right;
}
#color{
    color: silver;
}
div+h1 {
    color: blue;
}
 