*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns:300px 300px 300px 300px;
    gap: 20px;
   grid-template-rows: 160px 200px 200px ;
   place-content:center ;
   padding: 20px;
   background-color: rgba(210, 230, 235, 0.993);
}
.box{
    border: 2px solid red;
    background-color: aquamarine;
    /* display: grid; */
    /* place-items: center; */
}
.box img{
    height: 100%;
    width: 100%;
}
.box1{
    grid-column: 1/3;
}
.box6{
    grid-column: 3/5;
}
.box8{
    grid-column: 2/4;
}
.box5{
    background-color: slateblue;
}