
*{
    margin: 0%;
    padding: 0%;
}
body{

    height: 350px;
    background-image: url(../img/ncOaDB.webp);
}
.banner1{
    background-image: url(../img/Soothing-nature-backgrounds-2.jpg);
    background-attachment: fixed;
}

.banner2{
    background-image: url(../img/ncOaDB.webp);

}
.banner3{
    background-image: url(../img/Soothing-nature-backgrounds-2.jpg);
background-attachment:fixed;
}
.banner4{
    background-image: url(../img/ncOaDB.webp);
}
