* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: thistle   ;
}

.main {
    /* border: 2px solid red; */
    height: 400px;
    width: 300px;
    margin: 150px 550px;
    position: relative;
    background-color: rgb(228, 18, 228);
    /* clip-path: polygon(10% 25%, 35% 25%, 35% 0%, 65% 0%, 65% 25%, 90% 25%, 90% 50%, 65% 50%, 65% 100%, 35% 100%, 35% 50%, 10% 50%); */
    overflow: hidden;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
img{
    height: 400px;
    width: 300px;
    /* object-fit: cover; */
}
.parent {
    /* border: 2px solid green; */
    height: 200px;
    width: 150px;
    position: absolute;
    background-color: rgba(50, 206, 206, 0.185);
    backdrop-filter: blur(30px);
    transition: 1s;
}

.child1 {
    position: absolute;
    top: -200px;

}

.child2 {
    position: absolute;
    top: 0px;
    right: -200px;

}

.child3 {
    position: absolute;
    right: 0px;
    bottom: -200px;

}

.child4 {
    position: absolute;
    bottom: 0px;
    left:    -200px;
}


.main:hover .child1 {
    top: 0px;
}

.main:hover .child2 {
   right: 0px;
}

.main:hover .child3 {
    bottom: 0px;
}

.main:hover .child4 {
    left: 0px;
}