.cd{
    /* border: 1px solid red; */
    width: 300px;
    height: 400px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border-radius: 40px;
    background-color: rgb(58, 58, 220);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.284);

}

.cd::after{
    position: absolute;
    content: "";
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    transform: translate(-90px,-90px);
    /* z-index: 99; */
    transition: 1s;
    z-index: 5;
}

.cd:hover::after{
    transform: translate(-30px,-30px);
}

.cd::before{
    position: absolute;
    content: "";
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    transform: translate(150px,250px);
    /* z-index: 99; */
    transition: 1s;
    z-index: 5;
}

.cd:hover::before{
    transform: translate(180px,310px);
}

.cd .cd-img{
    /* border: 1px solid blue; */
    width: 70%;
    height: 70%;
    position: absolute;
    top: 15%;
    left: 15%;
    transition: 1s;
    /* background-color: blueviolet; */
    /* background: url(../images/pngegg\ \(34\).png) no-repeat center;
    background-size: cover; */
    z-index: 10;
}

.cd .cd-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.cd:hover .cd-img{
    transform: translate(-15px,-20px);
    
}



.cd .cd-content{
    /* border: 1px solid yellow; */
    height: 25%;
    width: 100%;
    position: absolute;
    bottom: 2%;
    padding: 10px 15px;
    transform: translateY(200px);
    transition: 1s;
    color: white;
    z-index: 10;
}

.cd:hover .cd-content{
    transform: translate(0,0);
}

.cd .cd-content .name{
    font-size: 1.2em;
    margin-bottom: 2px;
    font-weight: 600;
}
.cd .cd-content .words{
    font-size: 0.8em;
    margin-bottom: 5px
}
.cd .cd-content .price{
    /* font-size: 1.2em; */
    margin-bottom: 2px;
    padding: 0 10px;
}





.cd .cd-content a{
    /* border: 1px solid red; */
    position: absolute;
    right: 5%;
    bottom: 13%;
    font-size: 0.9em;
    padding: 0.5em 0.7em;
    border-radius: 30px;
    color: white;
    text-decoration: none;
    background-color: rgb(58, 58, 220);
    transition: 1s;
}

.cd .cd-content a:hover{
    color: rgb(58, 58, 220);
    background-color:white;
}

.cd .star{
    /* border: 1px solid red; */
    /* width: 100px; */
    /* height: 20px; */
    position: absolute;
    right: 7%;
    top: 5%;
    font-size: 0.8em;
    color: goldenrod;
}

.cd .cd-icon{
    /* border: 1px solid red; */
    position: absolute;
    width: 40px;
    height: 100px;
    top: 20%;
    right: 3%;
    transform: translateX(150%);
    transition: 1s; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cd .cd-icon .cd-ic{
    /* border: 1px solid red; */
    text-align: center;
    height: 37px;
    border-radius: 50%;
    background-color: white;
    color: rgb(58, 58, 220);
    transition: 0.5s;
}

.cd .cd-icon .cd-ic:hover{
    background-color: black;
    color: rgb(58, 58, 220);
    color: white;
}

.cd .cd-icon i{
    text-align: center;
    padding-top: 11px;
}


.cd:hover .cd-icon{
    transform: translateX(0);
}

.about{
    display: flex;
    padding: 50px;
    gap: 2em;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.about .left{
    /* border: 1px solid red; */
    width: 500px;
    height: 400px;
}

.about .left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about .right{
    /* border: 1px solid red; */
    width: 600px;
    /* height: 400px; */
}

.about .right .top h1{
    /* padding: 20px; */
    text-align: center;
    padding-bottom: 20px;
}

.about .right .body{
    text-align: justify;
    padding: 20px;
}

.vision{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
}



.vision .content{
    /* border: 1px solid red; */
    /* width: 600px;
    height: 400px; */
}

.vs{
    padding:0 20px 20px;
    box-shadow: 0 0 5px;
    border-radius: 20px;
}

.ms{
    margin-top: 30px;
    padding:0 20px 20px;
    box-shadow: 0 0 5px;
    border-radius: 20px;
}

.vision .content h3{
    text-align: center;
    padding: 20px 0 10px ;
    
}

.vision .content p{
    text-align: center;
}





footer{
    /* border: 1px solid red; */
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* background-color: #300708; */
    background-color: rgb(58, 58, 220);
    color: white;
    font-family: var(--p);
}

footer .leftf,.rightff{
    /* border: 1px solid blue; */
    padding: 20px;
}

footer .leftf .image{
    /* border: 1px solid yellow; */
    height: 250px;
    width: 250px;
    margin-top: 10px;
    background: url(../footer/ff-2.png) no-repeat center;
    background-size: cover;
}

footer .rightff{
    display: flex;
    gap: 7em;
    flex-wrap: wrap;
}

footer .rightff .link{
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

footer .rightff .link h3{
    font-size: 1.3em;
}

footer .rightff .link a{
    text-decoration: none;
    color: white;
}

footer .rightff .link-3 .cc h3{
    margin-bottom: 10px;
}

@media screen and (max-width:576px){
    .about{
        padding: 10px;
    }
    .about .left{
        width: 300px;
        height: 200px;
        /* padding: 10px; */
    }

    .about .right{
        /* border: 1px solid red; */
        
    }

    footer .rightff{
        margin-top: 10px;
        flex-direction: column;
        gap: 3em;
    }

    footer .rightff .link{
        gap: 3em;
        text-align: center;
    }
}

@media screen and (min-width:576px) and (max-width:768px){
     .footer {
        /* border: 1px solid red; */
        padding: 20px;
        color: white;
        
    }

    .footer .footer-box {
        /* border: 1px solid blue; */
        /* padding: 20px; */
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .footer .footer-box .left h1 {
        font-size: 1.5em;
        text-align: center;
    }

    .footer .footer-box .left {
        /* border: 1px solid red; */
        height: 200px;
    }

    .footer .footer-box .left .image {
        /* border: 1px solid red; */
        height: 150px;
        margin-top: 10px;
    }

    .footer .footer-box .left .image img {
        width: 100%;
        height: 100%;
        /* border: 1px solid blue; */
    }

    .footer .footer-box .right {
        /* border: 1px solid red; */
    }

    .footer .footer-box .right .top {
        /* border: 1px solid green; */
        display: flex;
        gap: 1em;
        flex-wrap: wrap;
        column-gap: 4em;
    }

    .footer .footer-box .right .top .top1 {}

    .footer .footer-box .right .top h3,
    h2 {
        padding-bottom: 16px;
    }

    .footer .footer-box .right .top a {
        text-decoration: none;
        color: white;

    }

    .footer .footer-box .right .top3 p {
        margin-bottom: 20px;
    }
}