*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.out-box{
    /* border: 2px solid black; */
    height: 600px;
    width: 800px;
    margin: 20px auto;
      position:relative;

}
.inside{
    border: 2px solid orangered;
    height:150px;
    width: 150px;
    border-radius: 50%;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    /* clip-path: polygon(50% 0%, 0% 100%, 100% 100%); */
    background:linear-gradient(to top right, #F2B104,#F59E02,#F79101,#F68002);
    /* bottom: 299px;
    left: 20px; */
    outline: #F68002;
   
    
}
.box1{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);  
}
.box2{ 
    position: absolute;
     top: 25.1%;
     left: 439.8px;
   
}
.box3{
    position: absolute;
    top: 50.4%;
    left: 438.9px;
}
.box4{
    position: absolute;
    bottom: 74.4PX;
    left: 324PX;
}
.box5{
    position: absolute;
    top: 73.9px;
    left: 327px;
} 
.box6{ 
    position: absolute;
    bottom: 302px;
    left: 26.5%;
} 
.box7{
    position: absolute;
    bottom: 150.9px;
    left: 210.7px;
}