*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body{
    height: 680px;
background-image: linear-gradient(to top left, rgb(235, 187, 187),rgb(52, 52, 156),rgb(231, 231, 176));
background-repeat: no-repeat;
background-size: cover;
} 
table{
    /* border: 10px double gray; */
    height: 500px;
    width: 800px;
    margin: 30px auto;
    border-collapse: collapse;
    background-color:#f5be8a ;
    box-shadow: 1px 2px 8px 12px gray;
    outline: 2px solid black;
}
table td{
    border: 2px solid black;
    height: 90px;
    width: 90px;
    color: black;
    font-size: 50px;
    text-align: center;
}
.color{
    background-color: #d1874a;
    /* background-color: #64748B; */
    /* background-color: rgb(53, 235, 235); */
}
h1{
    position:absolute;
    right: 100px;
    bottom: 80px;
    font-size: 60px;
    color: antiquewhite;
}
h2{
    position: absolute;
    top: 120px;
    left: 80px;
     font-size: 60px;
     color: black;
}
p{
      position:absolute;
    right: 150px;
    bottom: 180px;
    font-size: 60px;
    color: aliceblue;
}
h3{
     position: absolute;
    top: 40px;
    left: 100px;
     font-size: 60px;
}
P:hover h1{
    text-shadow:0PX 2px 5px;
    cursor: cell;
}
table #white{

    color: aliceblue;
}
