@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-head: "Montserrat", sans-serif;
    --font-main: "Cinzel", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 2px solid hotpink;
}

.container .con-head {
    border: 2px solid blue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* padding: 1rem 2rem; */
}

.container .con-body {
    border: 2px solid red;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.c1 {
    background: url(first-img.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.h1 {
    background: #12121298;
}

.logo {
    /* border: 2px solid green; */
    height: 5rem;
    width: 10rem;
}

.logo img {
    /* border: 2px solid; */
    height: 5rem;
    width: 16rem;
    /* padding: 20PX 30PX; */
    object-fit: cover;
}

nav {
    /* border: 2px solid; */
    /* width: 400px; */
    align-self: center;
    /* margin-left: 90px; */
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 60px;

}

nav ul li {
    list-style: none;
    overflow: hidden;
}

nav ul li a {
    font-family: var(--font-head);
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 2px;
    text-decoration: none;
    color: #eee2e2;
    overflow: hidden;
    padding: -0.9em 2em;
    position: relative;
}

nav ul li a:hover {
    background: linear-gradient(#fff8d3, #FFA500, #ffffff);
    color: transparent;
    background-clip: text;
}

/* navigation end */
/* ::before ::after using  */
nav ul a::before,
a::after {
    content: "";
    width: 0px;
    height: 2px;
    background-color: #D4af37;
    transition: 1s;
}

nav ul a::before {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

nav ul a::after {
    position: absolute;
    top: 0;
    right: 0px;
}

nav ul a:hover::before,
a:hover:after {
    width: 140px;
}

.end {
    /* border: 2px solid; */
    width: 14rem;
    display: flex;
    gap: 40px;
    align-self: center;
}

.main-btn {
    font-family: var(--font-head);
    font-size: 15px;
    padding: 0.4rem 1.1rem;
}

.cover {
    /* border: 2px solid; */
    height: 86vh;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.h-content {
    /* border: 2px solid red; */
    margin-left: 2.9rem;
    cursor: default;
    animation: right-move 2s forwards;
}

@keyframes right-move {
    from {
        transform: translateX(-600%);
    }

    to {
        transform: translate(0%);
    }

}

.h-content h2 {
    font-family: var(---FONT-MAIN);
    font-weight: 600;
    font-size: 55px;
    background: linear-gradient(to bottom right, #ffffffbe, #ffa600ef, #ffa600fb, #ffffffbe);
    color: transparent;
    background-clip: text;
}

.h-content h4 {
    font-family: var(--font-head);
    font-size: 31px;
    font-weight: 500;
    margin: 10px 0px;
    color: rgb(230, 217, 215);
}

.h-content p {
    text-align: justify;
    font-weight: 300;
    margin: 10px 0;
    font-size: 20px;
    background: linear-gradient(#fff8d3, #fdd384);
    color: transparent;
    background-clip: text;
    font-family: var(--font-head);
}

.h-content .main-btn {
    margin: 30px 0;
    font-size: 20px;
    /* padding: 10px 10px; */
    font-family: var(--font-head);
    font-weight: 300;
    border: none;
    color: #eee2e2;

    background-color: #3d393900;
}

/* page2 */

.container .h2 {
    display: flex;
    justify-content: center;
    position: relative;
}

.h2 .t1 {
    margin-top: 20px;
    font-size: 30px;
}

.h2 .flip {
    /* border: 2px solid; */
    position: absolute;
    width: 90%;
    top: 70px;
    left: 50px;
}

.h2 p .deg1 {
    position: absolute;
    bottom: 2px;
    left: 0px;
    right: 30px;
    width: 6px;
    height: 6px;
    background: #bb9167;
    transform: rotate(135deg);
    margin: 0 auto;
}

.h2 p .deg2 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0;
    width: 10px;
    height: 10px;
    background: #ce9c6b;
    transform: rotate(135deg);
    margin: 0 auto;
}

.h2 p .deg3 {
    position: absolute;
    bottom: 2px;
    left: 30px;
    right: 0;
    width: 6px;
    height: 6px;
    background: #ce9c6b;
    transform: rotate(135deg);
    margin: 0 auto;
}

.h2 p.flip::before {
    position: absolute;
    bottom: 4px;
    left: 100px;
    right: 0;
    content: '';
    width: 40px;
    height: 1px;
    background: #52361b;
    margin: 0 auto;
}

.h2 p.flip:after {
    position: absolute;
    bottom: 4px;
    left: 0px;
    right: 100px;
    content: '';
    width: 40px;
    height: 1px;
    background: #52361b;
    margin: 0 auto;
}

.head-clr {
    font-family: var(---FONT-MAIN);
    color: #FFA500;
}


.left-box,
.right-box {
    /* border: 2px solid yellow; */
    flex: 0 0 600px;
    height: 90vh;
    margin-top: 30px;
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.left-contend {
    /* border: 2px solid #00ff37; */
    height: 85vh;
    /* flex: 0 0 400px; */
    display: flex;
    justify-content: center;
}

.left-contend img {
    height: 100%;
    /* flex: 0 0 400px; */
    object-fit: cover;
}

.right-contend {
    /* border: 2px solid #00ff37; */
    height: 85vh;
    display: flex;
    /* justify-content: center; */
    background: #1B1E27;
    /* flex-direction: column; */
}

.main {
    /* border: 2px solid rgb(60, 0, 128); */
    flex: 0 0 500px;
    margin-left: 50px;

}

.right-contend h1 {
    margin: 20px 0;
    font-size: 25px;
    font-weight: 600;
    color: #eee2e2;
    font-family: var(---font-head);
}

.right-contend h3 {
    /* position: absolute; */
    background: linear-gradient(to bottom right, #ffffffbe, #ffa600ef, #ffa600fb, #ffffffbe);
    color: transparent;
    background-clip: text;
    font-weight: 600;
    font-family: var(---FONT-MAIN);
    font-size: 45px;

}

.right-contend p {
    margin-top: 25px;
    font-size: 17px;
    font-family: var(--font-head);
    color: gray;
    text-align: justify;
}











/* page3 */
.c3 {
    padding: 40px 40px;
    gap: 10px;
}

.box {
    /* border: 2px solid rebeccapurple; */
    height: 50vh;
    flex: 0 0 400px;
    position: relative;
    overflow: hidden;
}

.box img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.top-show {
    position: absolute;
    top: -100%;
    right: -100%;
    /* border: 2px solid rebeccapurple; */
    background-color: rgba(120, 116, 124, 0.76);
    height: 60vh;
    width: 400px;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-show h2 {
    font-family: var(---font-head);
    font-size: 30px;
    color: #eb8118;
    border: 2px dotted #eb8118;
    /* text-decoration:underline dotted; */
}

.box:hover .top-show {
    top: 0;
    right: 0;
}




















/* page4 */
.con-body {
    /* border: 2px solid red; */
    display: flex;
    /* justify-content: center; */
}

.main-con {
    border: 2px solid;
    display: flex;
    flex-wrap: wrap;
}

.box1,
.box2 {
    /* border: 2px solid rebeccapurple; */
    height: 80vh;
    flex: 0 0 600px;
    /* display: flex; */
}

.left-top,
.left-bottom {
    border: 2px solid;
    width: 100%;
    height: 40vh;
    /* flex-wrap: wrap; */
}

.right-top,
.right-bottom {
    border: 2px solid;
    width: 100%;
    height: 40vh;
    /* display: flex; */
    /* flex-wrap: wrap; */
}

.card1 {
    border: 2px solid red;
    margin: 10px 10px;
    height: 35vh;
    display: flex;

}

.cardimg {
    border: 2px solid green;
    width: 50%;
    height: 100%;
}

.cardcon {
    border: 2px solid green;
    width: 50%;
    height: 100%;
}















































.fa-bars,
#bar {
    display: none;
}

@media screen and (max-width:576px) {
    .fa-bars {
        display: block;
    }

    .end {
        display: none;
    }

    .fa-bars {
        position: absolute;
        top: 25px;
        left: 30px;
        font-size: 25px;
        color: whitesmoke;
    }

    .logo img {
        position: absolute;
        right: 0;
    }

    .con-head {
        position: relative;
        display: flex;
        background: #3d3939;

    }

    nav {
        position: absolute;
        background-color: #3d3939;
        top: 105%;
        padding: 1em 2em;
        z-index: 1;
        opacity: 0;
        width: 190px;
        transform: translateX(-1%);
        transition: 2s;
    }

    nav ul {
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }

    #bar:checked~nav {
        opacity: 1;
    }

    .h-content h4 {
        font-size: 19px;
    }
     .h-content p {
        font-size: 13px;
    }


    .h-content h2 {
        font-size: 25px;
    }

    .h-content .main-btn {
        padding: 5px 5px;
        font-size: 10px;
    }

    /* page2 */
    .h2 .t1 {
        font-size: 25px;
    }

    .right-contend {
        border: 2px solid #00ff37;
        /* height: auto; */
        display: flex;
        background: #1B1E27;
        width: max-content;
    }

    .right-contend h3 {
        margin-top: 5px 0;
        font-size: 20px;
    }

    .right-contend h1 {
        margin: 0;
        font-size: 20px;
    }

    .right-contend p {
        margin: 10px 0;
        font-size: 10px;
    }

    .main {
        /* border: 2px solid rgb(60, 0, 128); */
        flex: 0 0 389px;
        margin: 20px 40px;
    }

    .left-box,
    .right-box {
        border: 2px solid yellow;
        flex: 0 0 489px;
        gap: 1px;
        margin: 0;
    }


}